<h1>Sign Up</h1>

<p>
<form action="/users/signup" method="POST">

<label>Username <input type="text" id="username" name="username" /></label><br />

<label>Password <input type="password" id="password" name="password" /></label><br /><br />

<button type="submit" id="submit">Create Account</button>
</form>
</p>