<p><a href="/users/<%= current_user.id %>">Wedding Registry</a></p>
<h1>Items</h1>

<p>
<ul style="list-style-type:circle;">
<% current_user.items.each do |item| %>
    <li><a href="/items/<%= item.id %>"><%= item.name %></a></li>
<% end %>
</ul>
</p>