<h1>Wedding Registry</h1>
<h2>Items</h2>

<p>
<ul style="list-style-type:circle;">
<% current_user.items.each do |item| %>
    <li><a href="/items/<%= item.id %>"><%= item.name %></a></li>
<% end %>
</ul>
</p>