<h1>Add a New Item to Your Registry</h1>

<form action="/items/new" method="POST">

<label>Item <input type="text" id="name" name="name" /></label><br />

Category

choose from existing categories
or
create new category

<button type="submit" id="submit">Add Item</button>

</form>