<h1>Create a New Category</h1>

<form action="/categories" method="POST">

<h3><label for="name">Category Name</label></h3>
<input type="text" id="name" name="name" /><br />

<button type="submit" id="submit">Create</button>

</form>